* {
margin: 0;
}

.text {
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1.3rem;
}

section {
height: 100%;
    margin-top: 100px;
}

#card {
width: 500px;
    height: 700px;
    margin: auto;
    background-image: url(assets/skate_ramp.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.288);
}

#save {
    padding: 30px;
    text-align: end;
}

.buttonsave {
    background-color: #e60024;
    padding: 10px 40px;
    border-radius: 100px;
    color: whitesmoke;
}

#bottomline {
    margin-top: 515px;
    text-align: end;
    padding: 30px;
}

.bot-buttondots {
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 20px;
}
.bot-button {
    background-color: #e60024;
        padding: 15px 40px;
        border-radius: 100px;
        color: whitesmoke;
    display: inline-block;

text-overflow: ellipsis;

}

.fa-arrow-right {
    transform: rotate(-45deg);
    margin-right: 10px;

}

#textbot {
    font-size: 1.2rem;
    
}